/* index.css Kang Yee Tang 301328548 24-May-2024 */
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0px;
    background-image: linear-gradient(#FFC0CB, #ffffff);
    background-repeat: no-repeat;
    min-width: 500px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: #FFC0CB;
    color:#ffffff;
    height: 4em;
}

header img {
    width: auto;
    height: 45px;
    margin: 10px;
}

header a {
    text-decoration: none;
}

.navbar {
    background-color: white;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    color: darksalmon;
    font-size: 18px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title {
    color: #ffffff;
}